.wetherBg {
  background: linear-gradient(to bottom, #2c3e50, #3498db); /* Dark blue to Sky blue gradient */
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  background: #0d6efd;
  margin: auto;
  width: 300px;
  height: 150px;
}

.weathorCity{
  margin: 40px 0 10px;
  font-size: 35px;
  color:white;

}
.weathorTemp{  
  font-size:55px;
  font-weight: 700;
  color:white;
}

.btn.btn-primary {
  background-color: white;
  color: black;
}
